<!DOCTYPE html>
<html>
<head>
  <title>RPS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="nothing">Nothing Yet</a></li>
  </ul>
</nav>
<%= yield  %>
<footer>
<p> &copy; 2017
</footer>
</body>
</html>