/* Dominic Test Website CSS File */

/* GENERAL */

* { 
  box-sizing: border-box;
  margin: 0;
 }

 body {
  width: 100%;
  font-family: 'Sansita', Helvetica, sans-serif;
 }


 /* HEADER */

 header {
   background-color: #ccffcc;
   background-image: linear-gradient(45deg, #00ccff 0%, #ccffcc 30%, #ccffcc 70%, #00ccff 100%);
   width: 100%;
   padding: 8px 10px 10px 10px;
   text-align: center;
 }

 h1 {
  font-size: 2.75em;
  margin: 12px 15px 8px 15px;
  text-shadow: 2px 2px 1px lightgrey;
  color:#003300;
 }

 h2 {
  font-size: 1.5em;
  color: #003300;
  text-shadow: 1px 1px 0.5px lightgrey;
  margin-bottom: 10px;
 }

/* NAV */

 nav ul {
  font-size: 1em;
  list-style: none;
  padding: 0;
 }

 nav li {
  background-color: #00cc00;
  border-radius: 12px;
  margin: 3px auto;
  width: 50%;
 }

 nav li:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

/* LINKS */

nav ul a {
 text-decoration: none;
}

a:link, a:visited {
  color: #006600;
}

a:hover {
  color: #b266ff;
}

a.selected {
  color: #004d00;
}


/* BODY */

#main_body {
  max-width: 840px;
  margin: 0 auto;
  padding: 10px 15px;
}

p {
  padding: 4px 0;
}

/* GALLERY */

.gallery ul {
  list-style: none;
  padding: 5%;
}

.gallery li {
  float: left;
  width: 98%;
  margin: 1% 0;
}

.gallery img {
  border-radius: 15px;
  border: 2px solid #003300;
  padding: 2px;
  width: 100%;
  }

/* INTERESTS PAGE */

.interests img {
  float: left;
  max-width: 50%;
  margin: 0 1%;
  border-radius: 12px;
  border: 1px solid #003300;
  padding: 2px;
}

/* CONTACT PAGE */

.contact_photo {
  width: 100%;
}

.contact_photo img {  
  max-height: 10rem;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid #003300;
  margin: 0 auto;
  display: block;
}

#address ul {
  list-style: none;
  font-size: 0.9em;
}


/* FOOTER */

footer {
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
}

footer p {
  text-align: center;
  font-weight: bold;
  background-color: #d3d3d3;
  padding: 10px;
  width: 100%;
  margin: 0;
}

/**** MEDIA QUERIES ****/

@media screen and (min-width: 375px) {

  /* NAV BUTTONS */

  nav li {
   width: 20%;
   display: inline-block;
   padding: 5px;
   margin: 3px;
  }

  /* GALLERY */

  .gallery ul {
    list-style: none;
    padding: 5%;
  }

  .gallery li {
    float: left;
    max-width: 40%;
    margin: 10px;
  }

  .gallery img {
    border-radius: 15px;
    border: 2px solid #003300;
    padding: 2px;
    width: 100%;
    }


}




